.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;       
    align-items: center;
    background-color: black;
  //  min-height: calc(100vh - 62px);
    position: relative;
    left: 0;
    bottom: 0;

p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 34.22px;
    color: white;
    display: flex;
    padding: 0 20px;
    justify-content: center;
}
.mobile {
  display: none;
}
}
@media (max-width: 576px) {
    .header {
        padding: 0;
      }
    .footer .mobile {
      display: flex;
    }

  }
 
