.project-page {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.longdescription {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.infos {
  flex: 0.5;
  padding: 20px;
}

.info-container {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.goback-arrow {
  margin-right: 10px;
  font-size: 45px;
}

.lang {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  margin-bottom: 15px; 
  color: #555; 
}

.links {
  margin-top: 20px; 
}

.links a {
  text-decoration: none; 
  color: #007bff; 
}

.links a:hover {
  text-decoration: underline; 
}





// progress bar
.github-bar {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.skill-segment {
  height: 100%;
  position: relative;
}

.skill-level {
  height: 100%;
  width: 0;
  transition: width 1s ease-in-out;
  position: relative;
}

.skill-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skill-segment:hover .skill-info {
  opacity: 1;
}

.skill-name {
  margin-right: 5px;
}
