#about-section {
    .About {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    flex-direction: row;
.Aboutcontainer {
    background-color: beige;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 40px;

    h3 {
        text-align: center;
    }
    p {
    text-align: start;
    }
}
}
}

@media (max-width: 576px) {
    #about-section {
        .About {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    .Aboutcontainer {
        background-color: transparent;
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        h2, h3 {
            text-align: center;
        }
        p {
        text-align: start;
        }
    }
    }
  }
}
