html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // toute la hauteur de la fenêtre
}

.main-content {
  flex: 1; 
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px 0;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-top: 50px;

  .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 15px;

      .footer-left, .footer-right {
          font-size: 14px;
          font-weight: 500;
      }

      .footer-right a {
          color: white;
          text-decoration: none;
          &:hover {
              text-decoration: underline;
          }
      }
  }

  .footer-links {
      display: flex;
      gap: 40px;


      a {
          color: #cccccc;
          
          font-size: 24px;
          transition: color 0.3s ease;
          font-size: 50px;

          &:hover {
            color: white;
          }
      }
  }
}

@media (max-width: 576px) {
  .footer {
      .footer-content {
          flex-direction: column;
          gap: 10px;
          text-align: center;
      }
  }
}
