.Portfolio {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  text-decoration: none;
  color: inherit; 
}
a {
  text-decoration: none; // Enlève le soulignement
  color: inherit; // couleur du texte parent

  &:hover {
    //text-decoration: underline; // Soulignement au survol
    color: #007bff; // Couleur au survol 
      }
}
.project-card:hover {
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
}
.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  min-width: 200px;
  width: 100%;
  height: 300px;
  min-width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  padding-top: 10px;
}




.cover-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cover-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.hover-description {
  position: absolute;
  bottom: 15%;
  left: 25%;
  width: 50%;
  height: 0; /* Initialement à 0 */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;
  overflow: hidden;
}

.cover-image-container:hover .hover-description {
  height: 70%; /* Couvre 70% de l'image au survol */
}

.hover-description p {
  margin: 0;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .hover-description p {
  opacity: 1;
}


.cover-image {
  width: 100%;
  height: 200px; /* Ajustez cette valeur selon vos besoins */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-info {
  padding: 15px;
  position: relative;
  text-decoration: none;
  color: inherit; 
}

.title {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
  display: none;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #171717;
  padding-top: 5px;
}

.languages {
  display: flex;
  gap: 10px;
  justify-content: flex-start;

  font-size: 25px;
  flex-wrap: wrap;
}

.language-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
}

.language-icon:hover {
  transform: scale(1.2);
}

.github-link {
  top: 15px;
  right: 15px;
}

.github-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
}

.github-icon:hover {
  transform: scale(1.2);
}


.portfoliocards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  gap: 50px;
}


@media (max-width: 576px) {

.description {
  display: flex;
}
.hover-description {
  display: none; /* Cache complètement l'élément sur mobile */
}
.project-card {
  width: 100%;
  height: auto;
}

}
